<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ne pas rediriger les fichiers ou répertoires existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger toutes les autres requêtes vers index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
